html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	justify-content: center;
	margin: 0 auto;

}

.container {
	width: 415px;
	justify-content: space-around;
	background: url("https://i.imgur.com/wAvnwZn.jpg");
}

.container button {
	width: 100px;
	height: 100px;
	font-size: 36px;
	opacity: 0.4;
}
.results input {
	height: 100px;
	width: 310px;
	background: transparent;
	font-size: 36px;
	text-align: right;
}